html {
  font-size: $baseFontSize;
 
@include  tablets {
  font-size: $baseFontSize - 1px;
}

@include  phones {
  font-size: $baseFontSize - 2px;
  
}
}

html,
body {
  height: 100%;
}


body {
  font-family: "Alegreya Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $baseFontSize;
  line-height: 1.42;
  
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;

  @include phones 
  {
    padding: 8% 0;
  }

 
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  display: inline-block;
}

p {
  margin: 0;
}


