@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;800&display=swap");
html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.42;
}

.container {
  width: 940px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

p {
  margin: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background: url(../img/hero.jpg) top center/cover no-repeat;
  height: 100vh;
  min-height: 652px;
  color: #ffffff;
}
.hero__desc-title {
  font-size: 48px;
  margin-bottom: 17px;
  text-transform: uppercase;
  width: 53%;
  line-height: 58px;
}
.hero__desc-text {
  font-size: 21px;
  margin-bottom: 39px;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 70px;
}
.hero__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 102px;
  font-weight: 700;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__phone {
  font-size: 22px;
  font-style: normal;
}
.contacts__phone::before {
  content: url(../img/phone.png);
  margin-right: 5px;
}

.features,
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 33px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__icon {
  margin-right: 14px;
}

.features__text {
  max-width: 90px;
  font-size: 16px;
  line-height: 18px;
}

.button {
  color: #000000;
  padding: 19px 36px;
  background: #FEDB3F;
  border-radius: 60px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  line-height: 18px;
}
.button:hover {
  background: #ffd517;
}

.button__transparent {
  background: transparent;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: normal;
}
.button__transparent:hover {
  background: transparent;
  text-decoration: none;
}

.section {
  color: #292929;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 652px;
  text-align: center;
}
.section__title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
}

.benefits {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2%;
  position: relative;
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
.benefits__item::before {
  content: url(../img/shape.png);
  position: absolute;
  right: 0;
  top: 61px;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}
.benefits__img {
  background: #f2f5f4;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}
.benefits__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefits__title {
  font-size: 27px;
  margin-bottom: 20px;
}
.benefits__text {
  color: #666666;
}

.headline {
  margin-bottom: 49px;
  text-align: center;
}
.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  color: #666666;
  font-weight: 400;
  padding: 0px 27%;
  line-height: 22px;
}

.reviews__title {
  margin-bottom: 32px;
}

.reviews__info {
  background: #f8faf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px;
  margin-bottom: 15px;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding: 26px 40px;
}

.reviews__subtitle {
  margin-bottom: 12px;
}

.reviews__text {
  color: #666666;
  margin-bottom: 27px;
  line-height: 21px;
  width: 89%;
}

.reviews__name {
  font-weight: bold;
}

.reviews__switcher-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border: 6px solid transparent;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}
.reviews__switcher-item--active, .reviews__switcher-item:hover {
  border-color: #fedb3f;
}

.reviews__switcher-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.reviews__switcher-avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.order {
  color: #ffffff;
  position: relative;
}
.order::after {
  background: url(../img/surfer.jpg) center center/cover no-repeat;
  z-index: -2;
}
.order::before {
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.order::after, .order::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.order__title {
  margin-bottom: 59px;
}

.order__button {
  text-align: right;
  width: 82%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__column:last-child {
  margin-right: 0;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.form__info:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  text-align: left;
}

.form__input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 3px solid transparent;
  padding: 16px 12px;
}
.form__input:focus {
  border-color: #fedb3f;
  outline: none;
}

.form-textarea {
  height: 152px;
  resize: none;
  margin-bottom: 15px;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 9px;
  margin-bottom: 19px;
}
.radio:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #fedb3f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.radio__checkbox {
  border-radius: 4px;
}
.radio__checkbox::before {
  background: url(../img/mark.png) center center no-repeat;
}

.radio__title {
  margin-right: 9px;
  margin-bottom: 19px;
}
.radio__title:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 6%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 4px;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__img {
  background: url(../img/map.png) center center/cover no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts,
.footer__contacts-phone {
  color: #292929;
  font-style: normal;
  font-size: 21px;
}

.footer__contacts-phone:before {
  content: url(../img/phoneblack.svg);
  margin-right: 5px;
}

.socials__item {
  margin-right: 14px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials__link:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials__icon {
  width: 20px;
  height: 20px;
}
.socials__icon-vk {
  background: url(../img/vk.svg) center center no-repeat;
}
.socials__icon-facebook {
  background: url(../img/fb.svg) center center no-repeat;
  opacity: 0.5;
}
.socials__icon-instagram {
  background: url(../img/ins.svg) center center no-repeat;
}
.socials__icon-twitter {
  background: url(../img/tw.svg) center center no-repeat;
}