.button {
  color: #000000;
  padding: rem(19px) rem(36px);
  background: #FEDB3F;
  border-radius: rem(60px);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  line-height: rem(18px);

  &:hover {
    background: #ffd517;
  }
}

.button__transparent {
  background: transparent;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: normal;

  &:hover {
    background: transparent;
    text-decoration: none;
  }
}
