.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  
}

.footer__container {
  padding: rem(18px) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones 
  {
    flex-direction: column;
    text-align: center;
  }

}

.footer__contacts {
  @include phones 
  {
    margin-bottom: rem(19px);
     }
}

.footer__contacts,
.footer__contacts-phone {
  color: $black;
  font-style: normal;
  font-size: rem(21px);
    
}


.contacts__address {
  margin-bottom: rem(6px);

  @include phones 
  {
    margin-bottom: rem(12px);
  }

}

.socials__item {
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__list {
  display: flex;
  justify-content: flex-end;
}

.socials__link:hover {
  opacity: 1;
  transition: 0.5s;
}

.socials__icon {
  width: rem(20px);
  height: rem(20px);
  fill: #B3B3B3;

  &:hover {
    fill: #292929;
  }

}
