.form {
  display: flex;
  margin-bottom: rem(50px);

  @include tablets {
    flex-direction: column;
    padding: 0 11%;
  }

  @include phones 
    {
      padding: 0;
    }
}

.form__column {
  flex: 1;
  margin-right: rem(27px);

  @include tablets {
    margin-right: 0;
  }
 

  &:last-child {
    margin-right: 0;
  }
}

.form__info {
  display: flex;
  margin-bottom: rem(12px);

  @include tablets {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
   
  }
}

.form__block {
  flex: 1;
  margin-right: rem(15px);
  

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  text-align: left;
  margin-bottom: rem(2px);
}

.form__input {
  width: 100%;
  border-radius: rem(4px);
  outline: none;
  border: rem(3px) solid transparent;
  padding: rem(16px) rem(12px);

  @include tablets {
    padding: rem(6px) rem(10px);
  }

  &:focus {
    border-color: #fedb3f;
    outline: none;
  }
}

.form-textarea {
  height: rem(152px);
  resize: none;
  margin-bottom: rem(15px);

  @include tablets {
    height: rem(82px);
  }

}



.form__controls {
  display: flex;
  flex-wrap: wrap;
 
  @include phones 
  {
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  
  margin-right: rem(9px);
  margin-bottom: rem(19px);

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;

  @include phones 
  {
    margin-bottom: rem(19px);
  }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: rem(10px);
  

  &::before {
    content: "";
    width: rem(13px);
    height: rem(13px);
    background: #fedb3f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.radio__checkbox {
  border-radius: rem(4px);
  margin-bottom: rem(46px);

  &::before {
    background: url(../img/mark.svg) center center no-repeat;
  }
}

.radio__title {
  margin-right: rem(9px);
  margin-bottom: rem(19px);

  &:last-child {
    margin-right: 0;
  margin-bottom: 0;
  }
}
