.hero {
  background: url(../img/hero.jpg) top center/cover no-repeat;
  height: 100vh;
  min-height: rem(652px);
  color: #ffffff;
  display: flex;
  flex-direction: column;

  @include tablets {
    background: url(../img/hero768.jpg) top center/cover no-repeat;
        
    }

    @include phones {
      background: url(../img/hero480.jpg) top center/cover no-repeat;
          
      }
 

  &__desc-title {
    font-size: rem(48px);
    margin-bottom: rem(17px);
    text-transform: uppercase;
    width: 53%;
    line-height: rem(58px);

    @include tablets {
    width: 98%;
    }

    @include phones {
      font-size: rem(40px);
      line-height: rem(36px);
      }
  }
   
  

  &__desc-text {
    font-size: rem(21px);
    margin-bottom: rem(39px);

    @include phones {
      font-size: rem(18px);
      line-height: rem(20px);
      }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-bottom: rem(69px);
   
  }

  &__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include tablets {
    align-items: center;
    text-align: center;
    width: 100%;
    }
    
  }
}

